/* 2012-08-26 toolsApp author leecanz */
@charset "utf-8"; /* 2012-08-26 toolsApp author leecanz */
html,body {
	background: #fff !important;
	font-family: arial, sans-serif;
	font-size: 12px;
}

ul,ol {
	list-style: none none inside;
}

textarea {
	-webkit-resize: none;
	-moz-resize: none;
	resize: none;
}

.em {
	color: #f00;
}

.vat {
	vertical-align: top;
}

.none {
	display: none;
}

.em {
	color: #f00;
	vertical-align: middle;
	margin-right: 2px;
}

/* 首页 */
.menuTreeWrap {
	margin-top: 40px;
}

.line {
	border-bottom: 1px solid #eee;
	padding-bottom: 10px;
}

.link_disabled {
	color: #ccc;
}

/* 工作台 */
.work_space {
	padding: 20px 0; /*background-color:  #F5F5F5;
	*/
border-radius: 5px;
	border: 1px solid #E3E3E3;

	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
}

.work_space .hd {
	padding: 0 20px;
}

.work_space .hd .wgt_box {
	float: left;
}

.work_space .hd .wgt_control {
	float: right;
}

.work_space .bd {
	margin: 10px 0;
	min-height: 200px;
	background-color: #FFF;
	border-radius: 4px;
}

.work_space .bd .itemList {
	margin: 0 10px;
	padding: 20px 0;
	overflow: hidden;
}

.work_space .bd li {
	padding: 10px 20px;
	margin: 15px;
	min-height: 30px;
	border: 1px solid #ccc;
	border-radius: 5px;

	-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.work_space .bd li:hover {
	cursor: move;
}

.work_space .bd .item {
	position: relative;
}

.work_space .bd .item .item_name {
	float: left;
	width: 100px;
	text-align: right;
}

.work_space .bd .item .item_op {
	position: absolute;
	right: 15px;
	top: 10px;
}

.work_space .bd .item .item_op a {
	display: none;
	font-size: 12px;
	margin-right: 5px;
	text-decoration: none;
}

.work_space .bd .item .item_op a:hover i {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	opacity: .7;
}

.work_space .bd .item .item_op i {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	opacity: .5;
}

.work_space .bd .item:hover a {
	display: inline-block;
}

.work_space .bd .item:active {
	border-color: rgba(82, 168, 236, 0.8);

	-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.work_space .bd .item_content {
	overflow: hidden;
}

.work_space .bd .item_content input[type=text],.work_space .bd .item_content textarea {
	width: 400px;
}

.work_space .ft {
	padding: 0 20px;
	text-align: right;
}

.sortable-placeholder {
	background-color: #FFF !important;
	border-color: rgba(82, 168, 236, 0.8) !important;

	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(82, 168, 236, 0.6) !important;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(82, 168, 236, 0.6) !important;
}

.sortable-dragging {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
	background-color: rgba(82, 168, 236, 0.8);
}

.list.on {
	border-radius: 5px;
	border: 1px solid rgba(82, 168, 236, 0.8);

	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(82, 168, 236, 0.6);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(82, 168, 236, 0.6);
}

/* 弹窗 */
.checkbox_view .controls,.radio_view .controls {
	margin-bottom: 10px;
}

.checkbox_view a,.radio_view a {
	margin-left: 5px;
	font-size: 12px;
}

/* 边栏 */
.nav_new {
	background-color: #EFF8EF;
}

.nav_new > li > a {
	font-size: 14px;
	color: rgba(0, 0, 0, 0.7);
	cursor: default;
}

.nav_new > li > a i {
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
}

.subList a {
	display: block;
	border: 1px solid #E5E5E5;
	border-width: 1px 1px 0;
	padding: 8px 14px;
	padding-left: 20px;
	font-size: 12px;

	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.subList a:not(.active):hover {
	background-color: rgba(0, 136, 204, 0.3);
	text-decoration: none;
	padding-left: 40px;

	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.subList .active,.subList .active:hover {
	background-color: #0088CC;
	color: #fff;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
	text-decoration: none;
}

.subList .active i,.subList .active:hover i {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
}

.subList i {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	opacity: .3;
	margin-right: 5px !important;
}

.bs-docs-sidenav li:last-child a:last-child {
	border-radius: 0 0 6px 6px;
	border-bottom-width: 1px;
}

body > .navbar .brand {
	float: left;
	color: #3588C1;
	font-family: microsoft yahei;
}

body > .navbar .brand img {
	margin-right: 8px;
	vertical-align: middle;
}

body > .navbar .brand span {
	vertical-align: middle;
}

.tooltip-inner {
	font-size: 12px;
}

.welcome {
	float: left;
	line-height: 40px;
	height: 40px;
	color: #999;
}

.welcome a {
	margin-left: 10px;
	color: #3588C1;
}

.welcome a:hover {
	color: #3588C1;
}

.appLink {
	float: left;
	margin-left: 10px;
	margin-top: 9px !important;
}

.appLink button:first-child {
	font-size: 12px;
}

.appLink .dropdown-menu {
	right: 0;
}

.appLink a {
	font-size: 12px;
}

/* 搜索表头 */
.search_box .hd label {
	margin-right: 10px;
}

.search_box .hd .btn {
	margin-right: 5px;
}

.search_box .hd input[type='checkbox'] {
	margin-top: 0;
	margin-right: 5px;
}

/* tab */
.myTab {
	margin-bottom: 0;
}

/* 最近使用 */
.recentlyUsed {
	overflow: hidden;
	margin-left: 0;
}

.recentlyUsed li {
	float: left;
	margin-right: 20px;
}

.recentlyUsed li a {
	text-decoration: none;
}

.recentlyUsed li i {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	opacity: .3;
	margin-right: 5px;
}

.recentlyUsed li a:hover i {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	opacity: .5;
}

/* 工具执行 */
.work_space .list_disabled {
	padding: 0 !important;
}

.work_space .list_disabled li {
	border: none;
	border-bottom: 1px dashed rgba(82, 168, 236, 0.8);
	border-radius: 0 !important;

	-webkit-box-shadow: none;
	box-shadow: none;
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 20px;
}

.work_space .list_disabled li:hover {
	cursor: default;
}

.work_space .list_disabled li:active {
	border-width: 0 0 1px 0 !important;

	-webkit-box-shadow: none !important;
	box-shadow: none !important;
}

.work_space .list_disabled .item:hover a {
	display: none;
}

/* drawTable */
.drawTable {
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 20px;
	position: relative;
}

.drawTable .tb {
	width: 100%;
}

.drawTable th {
	line-height: 20px;
	padding: 8px;
	border: 1px dashed rgba(166, 226, 42, 0.5);
	width: 10%;
	font-weight: normal;
	color: #ccc;

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.drawTable .on {
	border: 1px solid #A6E22A;
	color: #000;
}

.drawTable .on:hover {
	cursor: w-resize;
}

.drawTable .ft {
	margin-top: 20px;
	text-align: right;
}

/* 编辑表头 */
.editBox {
	margin-top: 20px;
	display: none;
}

.editBox .tb th {
	border: 1px solid #A6E22A;
	color: #000;
	cursor: move;
}

.editBox .tb .th {
	position: relative;
}

.editBox .tb .J_delTh {
	display: none;
	position: absolute;
	right: -8px;
	top: 28px;
}

.editBox .tb .th:hover .J_delTh {
	display: block;
	padding: 0 3px;
	background-color: #FFF;
}

.editBox .tb input {
	width: 80%;
	margin: 5px 0;
}

.editBox .sortable-dragging {
	background-color: rgba(166, 226, 42, 0.8);
}

.editBox .sortable-placeholder {
	background-color: #000;

	-webkit-box-shadow: none !important;
	box-shadow: none !important;
	border: 1px solid rgba(166, 226, 42, 0.8) !important;
	height: 100px;
}

/* 多个表头 */
.work_space_thead .hd {
	height: 40px;
}

.work_space_thead .bd {
	margin: 0;
}

.work_space_thead .ft {
	margin-top: 10px;
}

.fm_thead {
	overflow: hidden;
	padding: 0 15px;
}

.theadCollect {
	margin-top: -1px;
	padding-top: 15px;
	border-top: 1px dashed #ccc;
}

.theadCollect .theadItem {
	margin-bottom: 10px;
}

.theadCollect .theadItem:first-child .del {
	display: none !important;
}

.theadCollect input {
	margin-right: 5px;
}

.theadCollect .btn_delThead {
	text-align: right;
}

.theadCollect .btn_delThead a {
	text-decoration: none;
}

.theadCollect .btn_delThead i {
	margin-right: 5px;
}

/* 执行选项 */
.execForm {
	margin-top: -20px;
	margin-bottom: 0;
}

.execForm input,.execForm textarea {
	margin-bottom: 0;
}

.executeOptionWrap {
	margin: 0px 25px 15px;
	padding: 10px 20px;
	border-bottom: 1px dashed rgba(82, 168, 236, 0.8);
}

.executeOption .mb5 {
	margin-bottom: 5px;
}

.executeOption .input-tiny {
	width: 20px;
	text-align: center;
	padding: 2px 5px;
	margin: 0;
}

.executeOption .radio {
	padding-top: 0px;
}

.executeOption:active {
	border-width: 1px 0 0 0 !important;

	-webkit-box-shadow: none !important;
	box-shadow: none !important;
}

/* 审核 */
.checkTool {
	display: none;
	margin-top: 20px;
	background-color: #FFF;
}

.checkTool legend {
	font-family: microsoft yahei;
}

.checkTool textarea {
	width: 100%;
	display: -webkit-box;
	display: -moz-box;
	display: box;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	display: -webkit-box;
	display: -moz-box;
	display: box;
}

.checkTool .ft {
	text-align: right;
}

/* 文件上传 */
.uploadWrap {
	background-color: #FFF;
}

.uploadFileList {
	margin-left: 0;
	margin-bottom: 0;
}

.uploadFileList li {
	padding: 10px;
}

.uploadFileList li:nth-child(2n) {
	background-color: #F5F5F5;
}

.uploadFileList .qq-upload-failed-text {
	float: right;
	color: #f00;
}

/* 表单表格样式 */
.tableStyleA td {
	line-height: 40px;
}

.tableStyleA label span {
	display: inline-block;
	width: 8em;
	text-align: right;
}

.form_action {
	margin-top: 10px;
	padding-top: 10px;
	border-top: 1px solid #eee;
	text-align: right;
}

/* 工具信息 */
.tb_toolInfo {
	border: 1px solid #DDDDDD;
	border-width: 0px 1px 1px;
}

.tb_toolInfo th {
	vertical-align: middle;
	text-align: right;
}

.tb_toolInfo input,.tb_toolInfo select,.tb_toolInfo textarea {
	margin-bottom: 0;
}

.tb_toolInfo textarea {
	width: 90%;
	height: 20px;

	-ms-overflow-y: auto;
	overflow-y: auto;
}

/* 文件上传 */
.uploadFileWrap {
	position: relative;
	width: 80px;
	overflow: hidden;
}

.uploadFileWrap .uploadFileInput {
	position: absolute;
	right: 0;
	top: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
	font-size: 100px;
}

.fileList legend {
	margin-bottom: 10px;
	font-size: 14px;
	font-weight: bold;
	font-family: microsoft yahei;
}

.fileList ul {
	max-height: 150px;

	-ms-overflow-y: auto;
	overflow-y: auto;
}

.fileList li {
	overflow: hidden;
	padding: 5px 10px;
}

.fileList li:nth-child(2n) {
	background-color: #F5F5F5;
}

.fileList li:hover {
	background-color: #D9EDF7;
}

.fileList .fileName {
	float: left;
}

.fileList .btns {
	float: right;
}

.fileList .btns .btn {
	font-size: 12px;
	margin: 0 5px;
}

.pannel {
	border: 1px solid #E3E3E3;
	border-radius: 4px 4px 4px 4px;

	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
	margin-bottom: 20px;
	min-height: 20px;
	padding: 19px;
}

.pannel ul {
	margin-left: 0;
}

.pannel .uploadTips {
	margin-bottom: 0;
	float: right;
	padding: 5px 10px;
}

/* 执行 Tab */
.nav-tabs a {
	outline: none;
}

.tabWrap {
	margin-top: 20px;
	position: relative;
}

.tabWrap .nav {
	margin-bottom: 0;
}

.tabWrap .tab-content {
	padding: 15px;
	border: 1px solid #ddd;
	border-top: none;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.tabWrap .packageDown {
	display: none;
	position: absolute;
	right: 18px;
}

.tabWrap .link-retry {
	text-align: right;
	position: absolute;
	right: 20px;
}

.breakWord {
	width: 400px;
	word-wrap: break-word;
}

/* 收缩工具信息 */
.toolInfo h3 .btn {
	margin-top: 15px;
}

.J_hideTable tr:not(:first-child) {
	display: none;
}

.J_showToolInfo {
	float: right;
	margin-top: 15px;
}

.reportBugs {
	position: absolute;
	top: 55px;
	padding: 5px 10px;
	color: #3A87AD;
	background-color: #D9EDF7;
	border: 1px solid #BCE8F1;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	border-radius: 4px;
}

/* 2012-10-25 */
.pageCount {
	margin-top: -15px;
	padding: 0 8px;
	background-color: #FCF8E3;
	border: 1px solid #FBEED5;
	border-radius: 4px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	color: #C09853;
}

/* 2012-11-06 帮助文档 */
.help-page .fixed {
	position: fixed;
	top: 30px;
	width: 830px;
	z-index: 1001;
}

.help-page .hd .J_helpSlider {
	position: absolute;
	right: 10px;
	top: 10px;
}

.help-page .hd .J_helpSlider:hover {
	text-decoration: none;
}

.help-page .hd .J_helpSlider:focus {
	outline: none;
}

.help-page .hd:after {
	content: "目录";
}

.help-page .hd .help-nav {
	margin: 0; /*display:  none;
	*/
}

.help-page .hd dl {
	margin: 0 0 10px 0;
}

.help-page .hd dl dt {
	float: left;
	width: 110px;
	line-height: 35px;
}

.help-page .hd dl dd {
	float: left;
}

.help-page .hd .dropdown-menu > .help-submemu {
	float: left;
}

.help-page .bd:after {
	content: "正文";
}

.help-page .bd .helpImg {
	text-align: center;
}

.help-page .bd .helpImg img {
	margin: 10px 0;
}

.help-page .bd .helpImg + .alert {
	margin-top: 15px;
}

.help-page .bd code {
	margin: 0 4px;
	background-color: #FFF;
	border-color: rgba(0, 0, 0, 0.3);
}

.help-page .bd p {
	line-height: 20px;
}

.help-page .bd .alert a {
	color: #6AC62E;
	text-decoration: underline;
}

.help-page .bd h1 {
	margin: 20px 0 15px;
	text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}

.help-page .bd h2 {
	margin-top: 10px;
}

.help-page .bd h3 {
	margin-top: 5px;
}

.help-page .bd ul {
	list-style-type: square !important;
}

/* 2012-11-12 */
.helpLink {
	float: left;
	margin-left: 10px;
	margin-top: 11px;
}

/* 引导页 */
.guideWrap {
	position: absolute;
	left: 50%;
	top: 30%;
	z-index: 1988;
	display: none;
}

.guideWrap .guideArrow {
	position: absolute;
	left: 65%;
	top: -80px;
	width: 45px;
	height: 58px;
	background: transparent url('/img/guidetipArror.png') 0 -120px no-repeat;
}

.guideWrap .guideArrowTopLeft {
	left: 30px;
	background: transparent url('/img/guidetipArror.png') -46px -120px no-repeat;
}

.guideWrap .guideIn {
	position: relative;
}

.guideWrap .guideIn .guideClose {
	position: absolute;
	top: 0px;
	right: 14px;
	width: 40px;
	height: 40px;
}

.guideWrap .guideIn .guideClose:hover {
	cursor: pointer;
}

.guideWrap .guideIn .guideNext {
	position: absolute;
	right: 10px;
	bottom: 10px;
	width: 90px;
	height: 50px;
}

.guideWrap .guideIn .guideNext:hover {
	cursor: pointer;
}

.guideWrap .guideIn .guideBody {
	width: 386px;
	height: 178px;
	background: transparent url('/img/guidetipBG.png') left top no-repeat;
}

.guideWrap .guideIn .guideBody .guideBodyIn {
	padding: 40px 10px 0 40px;
}

.guideWrap .guideIn .guideBody h2 {
	font: bold 24px/1.2 'microsoft yahei';
	color: #3287D0;
	padding-left: 0px;
}

.guideWrap .guideIn .guideBody p {
	padding-right: 50px;
}

.guideWrap .guideIn .guideBody .guideDots {
	margin: -10px 0 0 20px;
}

.guideWrap .guideIn .guideBody .guideDots span {
	display: inline-block;
	width: 20px;
	height: 18px;
	background: transparent url('/img/guidetipArror.png') -20px -5px no-repeat;
}

.guideWrap .guideIn .guideBody .guideDots .current {
	background-position: 0 -5px;
}

/* 2012-11-13 */
.highlight {
	position: relative;
	z-index: 1985;
	background-color: #FFF;
	border: 1px dashed #f60;
}

.zIndex1985 {
	z-index: 1985;
	background-color: #FFF;
}

.guideLastOne .guideIn .guideBody {
	background-image: url(/img/guidetipBGRepeat.png);
}

.guideMask {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
}

/* 2012-12-03 改变工具列表展现形式 */
.appList {
	margin-top: 28px;
}

.appList > ul {
	margin-left: 0;
	margin-top: 0;
	margin-right: -20px;
}

.appList > ul > li {
	float: left;
	position: relative;
	width: 420px;
	margin: 10px 10px 0 0;
	padding: 5px;
	overflow: hidden;
	border: 1px solid #ccc;
	border-radius: 4px;
}

.appList > ul > li:hover {
	background-color: rgba(217, 237, 247, 0.4);
	border-color: rgba(82, 168, 236, 0.8);

	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(82, 168, 236, 0.6);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(82, 168, 236, 0.6);
}

.appList > ul > li:hover .item_op {
	display: block;
}

.appList .main {
	float: left;
	margin-top: 0 !important;
}

.appList .sub {
	float: left;
}

.appList .sub ul {
	margin-left: 10px;
}

.appList .sub span {
	color: #333;
}

.appList .sub em {
	font-style: normal;
	font-family: microsoft yahei;
	font-weight: bold;
}

.appList .sub .app-desc em {
	display: inline-block;
	width: 25em;
	vertical-align: middle;
	overflow: hidden;

	-o-text-overflow: ellipsis;
	-ms-text-overflow: ellipsis;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.appList .item_op {
	display: none;
	position: absolute;
	right: 5px;
	top: 5px;
}

.appList .item_op a {
	display: inline-block;
	margin-right: 5px;
}

.appList .item_op i {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	opacity: .5;
}

/* 动画效果 2012-12-04 */
ul[data-liffect="slideLeft"] > li {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
	position: relative;

	-webkit-animation: slideLeft 500ms ease both;
	-moz-animation: slideLeft 500ms ease both;
	-ms-animation: slideLeft 500ms ease both;
	-o-animation: slideLeft 500ms ease both;
	animation: slideLeft 500ms ease both;

	-webkit-animation-play-state: paused;
	-moz-animation-play-state: paused;
	-ms-animation-play-state: paused;
	-o-animation-play-state: paused;
	animation-play-state: paused;
}

ul[data-liffect="slideLeft"].play > li {
	-webkit-animation-play-state: running;
	-moz-animation-play-state: running;
	-ms-animation-play-state: running;
	-o-animation-play-state: running;
	animation-play-state: running;
}

@keyframes "slideLeft" {
 0% {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
   	filter: alpha(opacity=0);
   	opacity: 0;
   	left: -30px;
 }
 100% {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
   	filter: alpha(opacity=100);
   	opacity: 1;
   	left: 0;
 }

}

@-moz-keyframes slideLeft {
 0% {
   filter: alpha(opacity=0);
   opacity: 0;
   left: -30px;
 }
 100% {
   filter: alpha(opacity=100);
   opacity: 1;
   left: 0;
 }

}

@-webkit-keyframes "slideLeft" {
 0% {
   filter: alpha(opacity=0);
   opacity: 0;
   left: -30px;
 }
 100% {
   filter: alpha(opacity=100);
   opacity: 1;
   left: 0;
 }

}

@-ms-keyframes "slideLeft" {
 0% {
   -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   left: -30px;
 }
 100% {
   -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
   left: 0;
 }

}

@-o-keyframes "slideLeft" {
 0% {
   filter: alpha(opacity=0);
   opacity: 0;
   left: -30px;
 }
 100% {
   filter: alpha(opacity=100);
   opacity: 1;
   left: 0;
 }

}
